<div class="header">
  <div class="logo">
    <img src="assets/img/icon.png" height="25">
  </div>
  <div class="title">
    Explora el paraíso, descubre Sober.
  </div>
  <div class="search">
    <form>
      <input class="sb-search-input" type="search" value="" name="search" id="search" [(ngModel)]="searchText" (focus)="focusSearch()" (blur)="blurSearch()" (keyup)="search($event)" [ngClass]="searchClass">
    </form>
    <ul class="results" [hidden]="foundElements.length == 0">
      <li *ngFor="let element of foundElements" (click)="showPoint(element.id)">
        {{element.name}}
      </li>
    </ul>
  </div>
  <!--div style="min-height: 100%;">
    <div style="display: flex; justify-content: center; flex-direction: row; align-items: center; min-height: 100%; margin: 6px;">
      <a href="" style="font-size: 16pt;"><i-menu class="icon"></i-menu></a>
    </div>
  </div-->
</div>