<div class="header">
  <!--div class="logo">
    <img src="assets/img/icon.png" height="25">
  </div>
  <div class="title">
    Explora el paraíso, descubre Sober.
  </div-->
  <div class="search">
    <form>
      <input class="sb-search-input" type="search" value="" name="search" id="search" placeholder="Hola! ¿Qué deseas visitar en Sober?" [(ngModel)]="searchText" (focus)="focusSearch()" (blur)="blurSearch()" (keyup)="search($event)" [ngClass]="searchClass">
    </form>
    <div class="location" (click)="activateLocation()" *ngIf="!locationActive && !searching"><img src="assets/img/location.png"></div>
    <div class="location" (click)="deactivateLocation()" *ngIf="locationActive && !searching"><img src="assets/img/location_active.png"></div>
    <ul class="results" [hidden]="foundElements.length == 0">
      <li *ngFor="let element of foundElements" (click)="showPoint(element.id)">
        <img [src]="element.image" height="50"><span>{{element.name}}</span>
      </li>
    </ul>
  </div>
  <!--div style="min-height: 100%;">
    <div style="display: flex; justify-content: center; flex-direction: row; align-items: center; min-height: 100%; margin: 6px;">
      <a href="" style="font-size: 16pt;"><i-menu class="icon"></i-menu></a>
    </div>
  </div-->
</div>