
<section class="carousel_container">
  <div id="carousel" [style.transform]="transformProperty" (swipeleft)="__onNextCard($event)" (swiperight)="__onPreviousCard($event)" *ngIf="_loading">

    <figure *ngFor="let element of elements; let i = index" [style.transform]="getTransformation(i)">
      <div class="image" [ngStyle]="{ 'background-image': 'url(\'assets/img/' + getFolderByType(element.type) + '/' + element.id + '.jpg\')'}"></div>
      <div class="name">
          <h1 >{{element.name}}</h1>
          <!--h1 (click)="__onClickShowDetail()">{{element.name}}</h1-->
      </div>
      <div class="actions">
          <!--a href="#" class="info" (click)="__onClickShowDetail()" *ngIf="!_showDetail">i</a-->
          <!--a href="#" class="close" (click)="__onClickCloseDetail()" *ngIf="_showDetail"><img src="assets/img/close.png" width="20"></a-->
      </div>
    </figure>

  </div>
</section>