<div class="summary" [ngStyle]="{ 'background-image': 'url(' + selectedPointBackgroundImage + ')'}" *ngIf="_loading">
    <div class ="chevron">
        <a href="#"><i class="fa fa-chevron-left"></i></a>
    </div>
    <div class="description">
        <h1 class="name2">{{selectedPoint.name}}</h1>
        <!--div class="summary_point" [ngClass]="selectedPointClass"><div-->
        <div class="actions">
            <!--a class="route" href="#"><i class="fa fa-plus-square-o"></i></a>
            <a class="route" href="#"><i class="fa fa-map-o"></i></a-->
            <a class="route" href="#">[Detalle]</a>
            <a class="route" href="#">[Ruta]</a>
        </div>
    </div>
    <div class ="chevron">
        <a href="#" (click)="__onNextPoint()"><i class="fa fa-chevron-right"></i></a>
    </div>
</div>