
.welcome-component {
  position: absolute;
  width: 100%;
  height: 20%;
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.summary-component {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 30px;
  z-index: 1000;
}

.actions-component {
  flex: 1 1 96px;
  width: 100%;
  height: 96px;
  margin-top: -96px;
  transition: all 1s;
}

.detail-component {
  flex: 1 1 0%;
  height: 0%;
  width: 100%;
  border-bottom: 1px solid #cacaca;
  overflow: scroll;
  transition: all 1s;
}

.route-component {
  flex: 1 1 0%;
  height: 0%;
  width: 100%; 
  overflow: scroll;
  transition: all 1s; 
}

.map-component {
  flex: 1 1 100%;
  height: 100%;
  width: 100%; 
  transition: all 1s; 
}

.bottom-viewpoint {
  border-bottom: 1px solid #51A3A3;
}
.bottom-site {
  border-bottom: 1px solid #CB904D;
}
.bottom-odging {
  border-bottom: 1px solid #DFCC74;
}
.bottom-winery {
  border-bottom: 1px solid #75485E;
}

.flex-container.map {
  transition: all 1s;
}

.flex-container.map .summary-component {
  flex: 1 1 40%;
  height: 40%;
}

.flex-container.map .actions-component {
  flex: 1 1 48px;
  height: 48px;
  margin-top: -48px;
}

.flex-container.map .detail-component {
  flex: 1 1 0%;
  height: 0%;
}

.flex-container.map .route-component {
  flex: 1 1 0%;
  height: 0%;
}

.flex-container.map .map-component {
  flex: 1 1 60%;
  height: 60%;
}

.flex-container.route {
  transition: all 1s;
}

.flex-container.route .summary-component {
  flex: 1 1 0%;
  height: 0%;
  visibility: hidden;
  opacity: 0;
}

.flex-container.route .actions-component {
  flex: 1 1 0px;
  height: 0px;
  margin-top: 0px;
  visibility: hidden;
  opacity: 0;
}

.flex-container.route .detail-component {
  flex: 1 1 0%;
  height: 0%;
  visibility: hidden;
  opacity: 0;
}

.flex-container.route .route-component {
  flex: 1 1 40%;
  height: 40%;
}

.flex-container.route .map-component {
  flex: 1 1 60%;
  height: 60%;
}

.flex-container.detail {
  transition: all 1s;
}

.flex-container.detail .summary-component {
  flex: 1 1 40%;
  height: 40%;
}

.flex-container.detail .actions-component {
  flex: 1 1 48px;
  height: 48px;
  margin-top: -48px;
}

.flex-container.detail .detail-component {
  flex: 1 1 45%;
  height: 45%;
}

.flex-container.detail .route-component {
  flex: 1 1 0%;
  height: 0%;
}

.flex-container.detail .map-component {
  flex: 1 1 15%;
  height: 15%;
}

.top-margin
{
  margin-top: 20px;
}

.logo-img
{
  float:left;
  margin-left: 6px;
  margin-right:6px;
}

a
{
  color: #ffffff !important;
}

a:hover
{
  color: #cccccc !important;
}

.disabled
{
 pointer-events: none;
 color: #333333;
}

.bordered
{
  border: 1px solid #333333;
}
