<div style="height: 100vh;">
    <div class="flex-container" [ngClass]="currentView">
        <div class="search-component">
            <search-component></search-component>
        </div>
        <div class="map-component">
            <div *ngIf="_loading">
              <loading loadingText="Loading Leaflet Map"></loading>
            </div>
            <leaflet-map (layerAdded)="__onLayerAdded($event)"></leaflet-map>
        </div>
        <section class="container">
            <div class="card" [class.flipped]="currentView == 'route'">
                <div class="points-component front">
                    <points-component></points-component>
                </div>
                <div class="route-component back">
                    <route-component></route-component>
                </div>
            </div>
        </section>
    </div>
</div>
