
.welcome-component {
  position: absolute;
  width: 100%;
  height: 20%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.summary-component {
  flex: 1 1 100%;
  height: 80%;
}

.map-component {
  flex: 1 1 100%;
  width: 100%;
  height: 15%;    
}

.actions-component {
  flex: 0.3 1 30%;
  width: 30%;
  height: 15%;  
}

.detail-component {
  width: 100%;
  height: 5%;
  overflow: scroll;
}

.flex-container.map .summary-component {
  flex: 1 1 100%;
  height: 40%;
  transition: all 1s;
}

.flex-container.map .map-component {
  flex: 1 1 100%;
  height: 60%; 
  transition: all 1s;
}

.flex-container.map .actions-component {
  flex: none;
  height: 0%; 
  transition: all 1s;
}

.flex-container.detail .summary-component {
  flex: 1 1 100%;
  height: 40%;
  transition: all 1s;
}

.flex-container.detail .map-component {
  flex: 1 1 100%;
  height: 10%; 
  transition: all 1s;
}

.flex-container.detail .actions-component {
  display: none;
  transition: all 1s;
}

.flex-container.detail .detail-component {
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  height: 50%; 
  transition: all 1s;
}


.top-margin
{
  margin-top: 20px;
}

.logo-img
{
  float:left;
  margin-left: 6px;
  margin-right:6px;
}

a
{
  color: #ffffff !important;
}

a:hover
{
  color: #cccccc !important;
}

.disabled
{
 pointer-events: none;
 color: #333333;
}

.bordered
{
  border: 1px solid #333333;
}
