<div style="height: 100vh;">
    <div class="header-component">
        <header-component></header-component>
    </div>
    <!--div class="welcome-component">
        <welcome-component></welcome-component>
    </div-->
    <div class="flex-container" [ngClass]="currentView">
        <div class="summary-component">
            <summary-component></summary-component>
        </div>
        <div class="actions-component">
            <actions-component></actions-component>
        </div>
        <div class="detail-component">
            <detail-component></detail-component>
        </div>
        <div class="map-component">
            <div *ngIf="_loading">
              <loading loadingText="Loading Leaflet Map"></loading>
            </div>
            <leaflet-map (layerAdded)="__onLayerAdded($event)"></leaflet-map>
        </div>
    </div>
    <!--div class="footer-component">
        <footer-component></footer-component>
    </div-->
</div>
