@import url(https://fonts.googleapis.com/css?family=Dosis:300);

body {
	font-family: 'Dosis';
	margin: 0px;
	color: white;
}

h1 {
	color: white;
}

.mainContent
{
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

a.main
{
  text-decoration: none;
}

a.main:hover
{
  text-decoration: underline;
}

p.padded
{
  padding: 50px;
}

/* Override */
.leaflet-div-icon {
	background-color: transparent;
	border: 0px;
}

.leaflet-control-zoom {
  display: none !important;
}

/**/

.viewpoint {
  background-color: #51A3A3;
}

.viewpoint.selected {
  border: 2px solid white;
}

.site {
  background-color: #CB904D;
}

.site.selected {
  border: 2px solid white;
}

.lodging {
  background-color: #DFCC74;
}

.lodging.selected {
  border: 2px solid white;
}

.winery {
  background-color: #75485E;
}

.winery.selected {
  border: 2px solid white;
}

.icon_point {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid white;
}

.icon_point.selected {
  width: 15px;
  height: 15px;
}

.ringbase {
  position:relative;
  top:-19px;
  left:-19px;
  width:50px;
  height:50px;
  border-radius: 50%;
  opacity:0.0;
  z-index:1000;
}

.ring1 {
  box-shadow:0 0 10px 1px #fff, inset 0 0 10px 1px #fff;
  -moz-animation: ring 2s ease-in-out;
  -moz-animation-iteration-count: infinite;
  -webkit-animation: ring 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation: ring 2s ease-in-out;
  animation-iteration-count: infinite;
  z-index:1000;
}


.viewpoint .ring1 {
  border: 2px solid #51A3A3;
}

.site .ring1 {
  border: 2px solid  #CB904D;
}

.lodging .ring1 {
  border: 2px solid  #DFCC74;
}

.winery .ring1 {
  border: 2px solid  #75485E;
}

@-webkit-keyframes ring {
  0% {-webkit-transform: scale(0.4, 0.4); opacity: 0.0;}
  50% {opacity: 1;}
  100% {-webkit-transform: scale(1.4, 1.4); opacity: 0.0;}
}

@-moz-keyframes ring {
  0% {-moz-transform: scale(0.4, 0.4); opacity: 0.0;}
  50% {opacity: 1;}
  100% {-moz-transform: scale(1.4, 1.4); opacity: 0.0;}
}

@keyframes ring {
  0% {transform: scale(0.4, 0.4); opacity: 0.0;}
  50% {opacity: 1;}
  100% {transform: scale(1.4, 1.4); opacity: 0.0;}
}


/* Input Search */
input[type=search] {
  display:block;
  margin: 0 0 0 auto;
  width: 130px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 12pt;
  background-color: white;
  background-image: url('https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding: 4px 25px;
}

.icon svg {
	stroke: #fff;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
