
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}


.header.site {
  background-color: #CB904D;
}
.header.lodging {
  background-color: #DFCC74;
}
.header.winery {
  background-color: #75485E;
}

.header .name h1 {
    color: white;
    font-size: 20pt;
    text-shadow: 2px 2px 4px rgba(33, 33, 33, 0.8);
}

.header div:nth-of-type(1) {
  margin: 0px 12px;
}

.header div:nth-of-type(2) {
  margin: 0px 12px;
}

.header .actions .info {
    box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.8);
  border-radius: 8px;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30pt;
  text-decoration: none;
}

.header .actions a:visited {
  color: white;
}

.header .actions .info.viewpoint {
background: rgba(97,194,194,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(97,194,194,1) 0%, rgba(81,163,163,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(97,194,194,1)), color-stop(100%, rgba(81,163,163,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(97,194,194,1) 0%, rgba(81,163,163,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(97,194,194,1) 0%, rgba(81,163,163,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(97,194,194,1) 0%, rgba(81,163,163,1) 100%);
background: radial-gradient(ellipse at center, rgba(97,194,194,1) 0%, rgba(81,163,163,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61c2c2', endColorstr='#51a3a3', GradientType=1 );
}
