
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}


.header.site {
  background-color: #CB904D;
}
.header.lodging {
  background-color: #DFCC74;
}
.header.winery {
  background-color: #75485E;
}

.header .name {
  flex: 1 1 100%;
}

.header .name h1 {
    color: white;
    font-size: 16pt;
    text-shadow: 2px 2px 4px rgba(33, 33, 33, 0.8);
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid white;
    border-radius: 6px;
}

.header .actions a {
  margin-right: 12px;
}

.header .actions .info {
  border: 1px solid white;
  box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.8);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  text-decoration: none;
}

.header .actions a:visited {
  color: white;
}